<div class="app-container">
    <mat-toolbar color="primary">
        <h1 class="center">
            2019 World Cup
        </h1>
    </mat-toolbar>
    <nav mat-tab-nav-bar class="center">
        <ng-container *ngIf="activeLink | async; let active">
            <a mat-tab-link
                *ngFor="let routeLink of routeLinks"
                [routerLink]="routeLink.link"
                [active]="active === routeLink.link">
                {{routeLink.label}}
            </a>
        </ng-container>
    </nav>
    <div class="main-body">
        <router-outlet></router-outlet>
    </div>
</div>