mat-icon {
    padding-bottom: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

mat-sidenav {
    width: 256px;
}

mat-sidenav-container {
    overflow-y: scroll;
}

mat-sidenav-content {
    height: 100%;
}

.mat-drawer-content {
    overflow: visible;
}

.mat-drawer-container {
    height: 100%;
}