mat-icon {
    padding-bottom: 2px;
}

mat-toolbar h1 {
    font-family: 'BenchNine', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

mat-sidenav {
    width: 256px;
}

mat-sidenav-content {
    height: 100%;
    overflow-y: scroll !important;
}

.mat-drawer-container {
    height: 100%;
}

@media print {
    .app-container {
        height: auto;
    }

    .mat-icon-button {
        display: none;
    }

    
    .mat-drawer-container {
        overflow: hidden;
    }
}