.expansion-panel {
    margin-bottom: 16px;
}

mat-panel-title mat-icon {
    padding-right: 16px;
}

.mat-expansion-panel-header-title {
    flex-grow: 0;
}

mat-form-field, button {
    margin-right: 16px;
}

mat-divider {
    padding-bottom: 16px;
}

@media print {
    .expansion-panel {
        display: none;
    }
}