.expansion-panel {
    margin-bottom: 16px;
}

.summary {
    padding-bottom: 16px;
}

mat-panel-title mat-icon {
    padding-right: 16px;
}

.mat-expansion-panel-header-title {
    flex-grow: 0;
}

mat-form-field, button {
    margin-right: 16px;
}

mat-divider {
    padding-bottom: 16px;
}

mat-card div {
    font-size: 14px;
}

.value {
    display: inline-block;
    padding-right: 4px;
}

mat-card {
    display: flex;
    flex-direction: row;
}

mat-card h4 {
    margin-top: 0;
}

.map {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}

@media print {
    .expansion-panel {
        display: none;
    }
}