.expansion-panel {
    margin-bottom: 16px;
}

mat-panel-title mat-icon {
    padding-right: 16px;
}

.mat-expansion-panel-header-title {
    flex-grow: 0;
}

mat-form-field {
    padding-right: 16px;
}

mat-chip span:last-of-type {
    padding-right: 4px;
}

mat-chip-list mat-icon, mat-chip-list .mat-icon-button {
    font-size: 16px;
    height: 16px;
    width: 16px;
    line-height: 16px !important;
}